{
  "extends": airbnb-base,
  "globals": { "fetch": true, "__DEV__": true },
  "parser": "babel-eslint",
  "plugins": ["import"],
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": [2, "never"],
    "new-cap": 0,
    "no-console": 0,
    "no-param-reassign": 1,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "semi": [2, "never"],
    "space-before-function-paren": [2, "always"],
    "react/jsx-boolean-value": 0,
    "import/no-unresolved": [2, { ignore: ['\.png$'] }],
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      ".(png|jpg)$",
      ".(scss|less|css)$",
      ".[^js(x)?]+$"
    ]
  }
}
